#stats-list {
  height: auto;
  border-radius: 10px;
  background-color: var(--primaryBlue);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 20px rgb(0 0 0 / 14%);
}

.all-stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-stats-container {
  display: flex;
  padding: 10px;
  width: calc(100% / 3);
}

.single-stats-icon {
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: 10px;
}

.single-stats-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: var(--white);
  margin-left: 10px;
}

.single-stats-value {
  padding: 2px 0px;
  font-size: 16px;
}

.single-stats-key {
  padding: 2px 0px;
  font-size: 12px;
}

.stats-view-container {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  #stats-list {
    top: 20px;
    height: auto;
    margin-top: var(--navbarHeaderHeight);
    margin-left: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .single-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% / 3);
  }

  .single-stats-value {
    padding: 2px 0px;
    font-size: 16px;
    text-align: center;
  }

  .single-stats-key {
    padding: 2px 0px;
    font-size: 12px;
    text-align: center;
  }

  .single-stats-icon {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .single-stats-data {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .single-stats-container {
    display: flex;
    padding: 10px;
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 500px) {
  #stats-list {
    margin-left: 105px;
  }
}
@media screen and (min-width: 1024px) {
  #stats-list {
    margin-left: 235px;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  cursor: pointer;
  margin-top: 20px;
}

.pagination a {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #6c7ac9;
  color: var(--white);
  margin-left: 10px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
  background: transparent !important;
}

.pagination-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 10px 0px;
  /* margin-left: 235px; */
}
