@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Varela Round", sans-serif;
}
/* colors added and named based on figma */
:root {
  /* equitas purple */
  --primaryBlue: #283046;
  --blue: #008dd5;
  --blueWithOpacity: rgb(47, 128, 237, 0.6);
  --hoverBlue: #1f5fcf;
  --errorRed: #de350c;
  --warningYellow: #ff9a1f;
  --successGreen: #37b47e;
  --black: #333333;
  --lightBlack: #4f4f4f;
  --lightGrey: #e0e0e0;
  --lightGrey2: #f9f9f9;
  --mediumGrey: #c4c4c4;
  --darkGrey: #828282;
  --offWhite: #f2f2f2;
  --white: #ffffff;
  --magenta: #af3678;
  --cyan: #28fae1;
  --backgroundColor: #292d32;
  --navbarHeaderHeight: 60px;
  --modalPadding: 16px;
  --searchHeight: 70px;
  --buttonHeight: 50px;
  --boxShadow: 0px 6px 20px -4px rgba(0, 0, 0, 0.1);
}
html {
  background-color: var(--backgroundColor);
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primaryBlue);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primaryBlue);
  }
}
